<div class="instructions">
    <div class="container">
        <h1 class="lead">Mad Money</h1>
            <nav>
                <a href="/#!login">Login</a>
                <a href="/#!register">Register</a>
                <a href="/#!home">Home</a>
                <a href="/#!enterTransaction">Enter Transaction</a>
                <a href="/#!transactionHistory">Transaction History</a>
                <a href="/#!editTransaction">Edit Transaction</a>
                <a href="/#!reports">Reports</a>
                <a href="/#!technologies">Technologies</a>
            </nav>
    </div>
</div>
