<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#!user">User Home</a></li>
      <li><a href="#!info">Info Page</a></li>
      <li><a href="#!register">Register</a></li>
      <li><a href="#!enterTransaction">Enter Transaction</a></li>
      <li><a href="#!transactionHistory">Transaction History</a></li>
      <li><a href="#!editTransaction">Edit Transaction</a></li>
      <li><a href="#!reports">Reports</a></li>
      <li><a href="#!technologies">Technologies</a></li>
      <li><a href="#!enterTransaction">Enter Transaction</a></li>
    </ul>
  </div>
</div>