<div class="navbar">
  <div class="container cardFormat">
    <ul>
      <li><a href="#!user">User</a></li>
      <li><a href="#!accountOverview">Account Overview</a></li>
      <!-- <li><a href="#!register">Register</a></li> -->
      <li><a href="#!enterTransaction">Enter Transaction</a></li>
      <li><a href="#!transactionHistory">Transaction History</a></li>
      <!-- <li><a href="#!editTransaction">Edit Transaction</a></li> -->
      <!-- <li><a href="#!reporting">Reporting</a></li> -->
      <li><a href="#!technologies">Tech. Used</a></li>
    </ul>
  </div>
</div>