<div class="container">
  <md-button ng-click='vm.userService.logout()' class="md-raised md-primary logoutButton" type="submit" name="submit">Log Out</md-button>
  <h1 class="md-display-1 cardFormat">Account Overview</h1>
  <!-- Account Cards -->
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="account in vm.accountOverview.list">
        <md-card-text class="cardFormat">Account Name: {{account.account_name}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Budget Amount: {{account.budget_amount}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Budget Balance Remaining: {{account.remaining_balance}}</md-card-text>
        <br>
        <div class="md-media-lg card-media"></div>
        </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="btn btn-default md-primary" ng-click="vm.enterTransaction(account.account_id)">Enter Transaction</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>

  <h1 class="lead alert alert-danger cardFormat" role="alert" ng-if="vm.message != ''">{{vm.message}}</h1>
  <form ng-submit="vm.login()">
    <p class="cardFormatPadding">To add additional accounts, enter the Account Name and Budget Amount then click Submit.</p>

    <!-- Account Name -->
    <md-content class="cardFormatPadding">
      <md-input-container>
        <label for="accountName">Account Name</label>
        <input type="text" class="cardFormat" ng-model="vm.accountObjectToSend.account_name" required>
      </md-input-container>
    </md-content>

    <!-- Budget Amount -->
    <md-content class="cardFormatPadding">
      <md-input-container>
        <label for="budgetAmount">Budget Amount</label>
        <input type="money" class="cardFormat" ng-model="vm.accountObjectToSend.budget_amount" required>
      </md-input-container>
    </md-content>

    <!-- Button -->
    <md-content class="submitButtonAccountOverview">
      <section layout="row" layout-sm="column" layout-align="center left" layout-wrap="">
        <md-button ng-click='vm.createAccount()' class="md-raised md-primary" type="button" name="submit">Submit</md-button>
      </section>
    </md-content>
  </form>
</div>