<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
  <form ng-submit="vm.registerUser()">
    <div>
        <md-input-container>
            <label for="username">Username</label>
            <input type="text" ng-model="vm.user.username" required class="inputFormat">
        </md-input-container>
        <!-- <label for="username">Username:</label>
        <input type="text" ng-model="vm.user.username" /> -->
    </div>
    <div>
        <md-input-container>
            <label for="password">Password</label>
            <input type="password" ng-model="vm.user.password" required class="inputFormat">
        </md-input-container>
        <!-- <label for="password">Password:</label>
        <input type="password" ng-model="vm.user.password" /> -->
    </div>
   <!-- <div>
        <label for="account_name">Account Name:</label>
        <input type="text" ng-model="vm.account.account_name" />
    </div>
    <div>
      <label for="budget_amount">Budget Amount:</label>
      <input type="money" ng-model="vm.account.budget_amount" />
    </div> -->
    <!-- <input class="btn btn-default" type="submit" name="submit" value="Register" /> -->
    <md-button ng-click='vm.upload()' class="md-raised md-primary" type="submit" name="submit">Register</md-button>
    <a href="#!user">Cancel</a>
  </form>
</div>
