<div ng-cloak layout-gt-sm="row" layout="column">

    <div flex-gt-sm="50" flex>
  
      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
          <span>Technologies Used</span>
        </div>
      </md-toolbar>
  
      <md-content>
        <md-list flex>
          <md-subheader class="md-no-sticky">Node</md-subheader>
          <md-subheader class="md-no-sticky">Express</md-subheader>
          <md-subheader class="md-no-sticky">Angular</md-subheader>
          <md-subheader class="md-no-sticky">Bootstrap or Angular-Material</md-subheader>
          <md-subheader class="md-no-sticky">PostgreSQL</md-subheader>
          <md-subheader class="md-no-sticky">Technologies Used</md-subheader>
          <md-subheader class="md-no-sticky">Twilio</md-subheader>
        </md-subheader>
      </md-list>
    </md-content>