<div ng-cloak layout-gt-sm="row" layout="row" class="cardFormat">

    <div flex-gt-sm="50" flex>
  
        <h1 class="md-display-1 cardFormat">Technologies Used</h1>
  
      <md-content>
        <md-list flex>
          <md-subheader class="md-no-sticky">Node</md-subheader>
          <md-subheader class="md-no-sticky">Express</md-subheader>
          <md-subheader class="md-no-sticky">Angular</md-subheader>
          <md-subheader class="md-no-sticky">Bootstrap or Angular-Material</md-subheader>
          <md-subheader class="md-no-sticky">PostgreSQL</md-subheader>
          <md-subheader class="md-no-sticky">Twilio</md-subheader>
        </md-subheader>
      </md-list>
    </md-content>