<md-button ng-click='vm.userService.logout()' class="md-raised md-primary logoutButton" type="submit" name="submit">Log Out</md-button>
<h1 class="md-display-1 cardFormat">Transaction History</h1>
<md-input-container class="inputFormat">
  <input type="text" placeholder="Search" ng-model="search">
</md-input-container>
<div class="container">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="transaction in vm.transactionHistory.list | filter: search">
        <md-card-text class="cardFormat">Account Name: {{transaction.account_name}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Transaction Date: {{transaction.date | date: format: short}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Transaction Amount: {{transaction.amount}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Category: {{transaction.category}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Title: {{transaction.transaction_title}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Description: {{transaction.description}}</md-card-text>
        <br>
        <md-card-text class="cardFormat">Image:</md-card-text>
        <a href={{transaction.image_url}}>
          <img href={{transaction.image_url}} ng-src="{{transaction.image_url}}" alt="" width="250px">
        </a>
        <div class="md-media-lg card-media"></div>
        </md-card-title-media>
        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="btn btn-default md-warn" ng-click="vm.delete(transaction.register_id)">Delete</md-button>
        </md-card-actions>
      </md-card>
  </md-content>
  </div>